body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  
  .gallery-image {
    width: calc(20% - 10px);
    height: 20em; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio while filling the container */
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
  }

  @media (max-width: 767px) {
    .gallery-image {
      width: calc(50% - 10px); /* Two images in a row */
      height: auto; /* Auto height for responsiveness */
      float: left;
      box-sizing: border-box;
    }
  
    /* Clear the float on mobile */
    .gallery-container::after {
      content: "";
      display: table;
      clear: both;
    }
  
    /* Adjust modal size for mobile */
    .modal-image-container {
      max-width: 90%;
      max-height: 90vh;
      margin: 0 auto;
      overflow: hidden;
    }

  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* Ensure the modal is on top of other content */
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  
  
.modal-image-container {
  display: block;
  max-width: 90%;
  max-height: 90vh;
  margin: 0 auto; /* Center horizontally */
  overflow: hidden;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1.5em;
}
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .prev-button,
  .next-button {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .prev-button {
    margin-left: 20px;
  }
  
  .next-button {
    margin-right: 20px;
  }
  